@charset 'utf-8';

.scroll-section {
  padding-top: 50vh;
}

.sticky-element {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;
  top: 35vh;
  opacity: 0;
}

.main-message p {
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888888;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

#scroll-section-2 .main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}

#scroll-section-2 .description-message:nth-child(2) {
  top: 10%;
  left: 40%;
}

#scroll-section-2 .description-message:nth-child(3) {
  top: 15%;
  left: 45%;
}

.description-message {
  width: 50%;
  font-weight: bold;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}

.detail-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888888;
}

.detail-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888888;
}

#show-scroll-section-0 #scroll-section-0 .sticky-element,
#show-scroll-section-1 #scroll-section-1 .sticky-element,
#show-scroll-section-2 #scroll-section-2 .sticky-element,
#show-scroll-section-3 #scroll-section-3 .sticky-element {
  display: block;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }

  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  #scroll-section-2 .main-message small {
    font-size: 1.5vw;
  }

  #scroll-section-2 .description-message:nth-child(2) {
    top: 20%;
    left: 40%;
  }

  #scroll-section-2 .description-message:nth-child(3) {
    left: 55%;
  }

  .description-message {
    width: 20%;
  }

  .detail-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }
}
